.container {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.buttons {
    padding-top: 3em;
}

.mainbutton {
    padding: 1em 2em 1em 2em;
    margin-left: 36px;
    margin-right: 36px;
}
